
/* GENERAL */

body {
    margin: 0;
    background: linear-gradient(rgb(169, 205, 255),rgb(150, 255, 222)) no-repeat;
}

.App {
    color: black;
    text-align: center;
}

.wrapper {
    display: grid;
}

button {
    padding: 10% 50px;
    margin: 0 10px;
    border: none;
    border-radius: 30px;
    transition: all 0.5s ease-out;
    font-family: 'Belleza';
    cursor: pointer;
}

button:active {
    opacity: 0.7;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}

/* NAVBAR */

nav {
    margin: 20px 80px;
    border-radius: 30px / 50%;
    white-space: nowrap;
    min-width: fit-content;
}

.right {
    display: flex;
    grid-column: 3 / 3;
    justify-self: flex-end;
}

.logo-navbar {
    grid-column: 2 / 3;
    margin: 5px 10px 0 10px;
    justify-self: center;
    width: 25px;
    height: 25px;
    min-width: 20px;
    border-radius: 50%;
}

.current {
    background: rgb(0, 190, 224);
}

nav button:hover {
    background-color: rgb(228, 249, 255);
    box-shadow: 0 0 10px rgb(200, 211, 218);
}

/* OTHER */

